{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "max-length": 0,
    "no-unused-vars": 1,
    "no-console": 0,
    "no-plusplus": 1
  },
  "plugins": ["import"],
  "globals": {
    "jQuery": true,
    "$": true
  },
  "parser": "babel-eslint"
}
